:host {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.theme,
.language {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;

  .mat-radio-button {
    margin: 0.25rem;
  }
}

#language-select {
  display: block;
  margin: 1rem 0 0.5rem;
}

.language-control {
  display: flex;
  flex-direction: column;

  button {
    margin: 0.25rem 0;
  }
}
