<button mat-icon-button class="favorite-button" [matTooltip]="favorite ? 'Remove favorite' : 'Add favorite'">
  <ng-container *ngIf="favorite; else notFavoriteTemplate">
    <mat-icon class="favorite-button__icon__active">favorite</mat-icon>
    <mat-icon class="favorite-button__icon__disable">favorite_border</mat-icon>
  </ng-container>
  <ng-template #notFavoriteTemplate>
    <mat-icon class="favorite-button__icon__disable">favorite</mat-icon>
    <mat-icon class="favorite-button__icon__active">favorite_border</mat-icon>
  </ng-template>
</button>
