<table class="list-edit__table">
  <tr>
    <th></th>
    <th>Nimi</th>
    <th>Grupp</th>
    <th></th>
  </tr>
  <tr
    class="list-edit_table-row"
    *ngFor="let item of items$ | async; let i = index"
  >
    <td>{{ i + 1 }}.</td>
    <td>{{ item.name }}</td>
    <td>
      <mat-select
        class="list-edit__item-group"
        placeholder="Vali kategooria"
        name="group"
        [value]="item.groupId"
        (selectionChange)="onSelectionChange($event, item)"
      >
        <mat-option *ngFor="let group of groups$ | async" [value]="group.id">
          {{ group.name }}
        </mat-option>
      </mat-select>
    </td>
    <td>
      <button
        class="item-edit__delete"
        mat-icon-button
        (click)="deleteList(item)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
