:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

mat-toolbar {
  z-index: 2;
}

.home__sidenav-container {
  display: flex;
  flex: 1;
}

.home__sidenav-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home__sidenav {
  display: flex;
  flex: 1;
  width: 220px;
}

.home__sidenav-content__spinner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
