<form class="list-container__form" novalidate [formGroup]="inputForm" (ngSubmit)="addItem()">
  <mat-form-field class="list-container__input" floatLabel="never">
    <input
      matInput
      type="text"
      formControlName="inputControl"
      required
      placeholder="Lisa nimekirja"
      [matAutocomplete]="auto"
      [errorStateMatcher]="inputValid"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="inputDisplay" (optionSelected)="addItem()">
      <mat-option
        [innerHTML]="item.displayName"
        *ngFor="let item of filteredItems$ | async; trackBy: trackById"
        [value]="item"
      >
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!inputForm.valid">Lisa</button>
</form>
<mat-divider></mat-divider>
<mat-list
  cdkDropList
  (cdkDropListDropped)="dropGroup($event)"
  class="lists-container__item-list"
  [disableRipple]="false"
  *ngIf="groupsWithItems$ | async as groups"
  [cdkDropListData]="groups"
>
  <div
    class="list-container__group"
    *ngFor="let group of groups; first as isFirst; trackBy: trackById"
    cdkDragLockAxis="y"
    cdkDrag
    [cdkDragData]="group"
    [cdkDragStartDelay]="dragDelay"
    appLongPress
    [duration]="dragDelay"
    [ngClass]="{ dragged: draggingGroupId === group.id }"
    (cdkDragStarted)="dragStart(group.id)"
    (cdkDragReleased)="dragStart(null)"
    (longPress)="dragStart(group.id)"
    (longPressEnd)="dragStart(null)"
  >
    <div *ngIf="group.active">
      <div
        id="{{ group.id }}"
        cdkDropList
        cdkDropListSortingDisabled
        [cdkDropListConnectedTo]="getConnectedGroups(group.id, groups)"
        [cdkDropListData]="group.id"
        (cdkDropListDropped)="drop($event)"
      >
        <h3 matSubheader>{{ group.name }}</h3>
        <ng-container>
          <mat-list-item
            [cdkDragData]="item"
            *ngFor="let item of group.items; trackBy: trackById"
            cdkDragLockAxis="y"
            cdkDrag
            [cdkDragStartDelay]="dragDelay"
            appLongPress
            [duration]="dragDelay"
            [ngClass]="{ dragged: draggingGroupId === item.id }"
            (cdkDragStarted)="dragStart(item.id)"
            (cdkDragReleased)="dragStart(null)"
            (longPress)="dragStart(item.id)"
            (longPressEnd)="dragStart(null)"
          >
            <mat-checkbox (click)="markDone(item)">{{ item.name }}</mat-checkbox>
            <span class="space"></span>
            <button mat-icon-button [routerLink]="['/home/item', listId | async, item.id]">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-list-item>
        </ng-container>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</mat-list>
