<div class="list-share__container">
  <mat-form-field class="list-share__user-chips">
    <mat-chip-grid #chipGrid aria-label="User selection">
      <mat-chip-row *ngFor="let user of users" (removed)="remove(user)">
        {{ user.email }}
        <button matChipRemove [attr.aria-label]="'remove ' + user.email">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input
        type="email"
        (paste)="onPaste($event)"
        placeholder="Share with..."
        i18n-placeholder
        [formControl]="emailControl"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-grid>
  </mat-form-field>
  <div>
    <button class="list-share__share-button" mat-raised-button (click)="share()" i18n>Share</button>
  </div>
</div>
