:host {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.list-share__container {
  padding: 1em;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.list-share__error {
  color: var(--mat-sys-error);
  background-color: var(--mat-sys-error-container);
  padding: 12px;
  border-radius: 4px;
  margin: 0;
}

.list-share__actions {
  display: flex;
  gap: 8px;

  button {
    mat-spinner {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 700px) {
  .list-share__container {
    flex: .5;
  }
}
