@use '@angular/material' as mat;
@use './palette.scss' as *;

$facebook-color: #3a5ca9;

// Define your application's custom theme.
$primary: mat.m2-define-palette($app-blue);
$accent: mat.m2-define-palette($app-deeppurple, 500, 300, 600);
$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

// Define an alternate dark theme.
$dark-primary: mat.m2-define-palette($app-blue);
$dark-accent: mat.m2-define-palette($app-deeppurple, 500, 300, 600);
$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);
