@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.app-shell__main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%
}
