<div class="container">
  <h1>Welcome to Groceries List!</h1>
  <img style="height: 120px; width: 120px" src="assets/icon-144x144.png" />
  <div class="welcome">
    <h2>Groceries List helps you keep track of what needs to be bought from the store.</h2>
    <h3>Log in with Facebook and create your first shared list today!</h3>
    <button class="facebook" color="primary" mat-raised-button (click)="logIn()">
      <mat-icon svgIcon="flogo"></mat-icon>Sisene Facebook'iga
    </button>
    <span class="space"></span>
  </div>
</div>
