@use '@angular/material' as mat;
@use './list-container.theme' as list-container;
@use '../../../theme.scss' as *;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  // overflow-y: auto;
  // padding: 0 1rem 5rem;
}

[hidden] {
  display: none !important;
}

.list-container__form {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 1rem;
}

.list-container__input {
  max-width: 400px;
  padding-right: 1em;
  flex: 1 1 auto;
}

.lists-container__search-items {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.lists-container__search-item {
  cursor: pointer;
}

.lists-container__item-list {
  overflow-y: auto;
  padding: 0 0 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.dragged {
  @include mat.elevation(2);
}

.cdk-drag-preview {
  &.list-container__group {
    .mat-subheader {
      &:first-child {
        margin-top: -8px;
      }
      display: flex;
      box-sizing: border-box;
      padding: 16px;
      align-items: center;
      font-family: Roboto, 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      line-height: 16px;
      margin: 0;
    }
  }

  ::ng-deep .mat-list-item-content {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 16px;
  }
  .space {
    flex: 1 1 auto;
  }
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.description {
  padding: 0 0.5rem;
  flex: 1;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  min-width: 0;
  width: 0;
}

.extra-actions-button {
  margin-left: auto;
}

.loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

::ng-deep {
  @include list-container.theme($theme);

  .app-dark {
    @include list-container.theme($dark-theme);
  }
}
