<form class="list-container__form" novalidate [formGroup]="inputForm" (ngSubmit)="addItemFromInput()">
  <mat-form-field class="list-container__input" floatLabel="never">
    <input
      matInput
      autocomplete="off"
      type="text"
      formControlName="inputControl"
      required
      placeholder="Add list"
      i18n-placeholder
      [errorStateMatcher]="inputValid"
    />
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!inputForm.valid" i18n>Add</button>
  <ng-container *ngIf="inactiveItems$ | async; let inactiveItems">
    <button
      class="extra-actions-button"
      *ngIf="inactiveItems && inactiveItems.length <= 40"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Extra actions"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="markAllActive(inactiveItems)" i18n>Mark all active</button>
      </ng-template>
    </mat-menu>
  </ng-container>
</form>
<mat-divider></mat-divider>
<mat-list [hidden]="!inputControl.value?.length" class="lists-container__search-items">
  <mat-list-item
    #searchItem
    *ngFor="let item of filteredItems$ | async; trackBy: trackById"
    (click)="addItem(item)"
    class="lists-container__search-item"
    ><span [innerHTML]="item.displayName"></span
  ></mat-list-item>
</mat-list>

<mat-list
  [hidden]="inputControl.value?.length"
  cdkDropList
  (cdkDropListDropped)="dropGroup($event)"
  class="lists-container__item-list"
  [disableRipple]="false"
  *ngIf="groupsWithItems$ | async as groups"
  [cdkDropListData]="groups"
>
  <div
    class="list-container__group"
    *ngFor="let group of groups; first as isFirst; trackBy: trackById"
    cdkDragLockAxis="y"
    cdkDrag
    [cdkDragData]="group"
    [cdkDragStartDelay]="dragDelay"
    appLongPress
    [duration]="dragDelay"
    [ngClass]="{ dragged: draggingGroupId === group.id }"
    (cdkDragStarted)="dragStart(group.id)"
    (cdkDragReleased)="dragStart(null)"
    (longPress)="dragStart(group.id)"
    (longPressEnd)="dragStart(null)"
  >
    <div *ngIf="group.active">
      <div
        id="{{ group.id }}"
        cdkDropList
        cdkDropListSortingDisabled
        [cdkDropListConnectedTo]="getConnectedGroups(group.id, groups)"
        [cdkDropListData]="group.id"
        (cdkDropListDropped)="drop($event)"
      >
        <h3 matSubheader>{{ group.name }}</h3>
        <ng-container>
          <mat-list-item
            [cdkDragData]="item"
            *ngFor="let item of group?.items; trackBy: trackById"
            cdkDragLockAxis="y"
            cdkDrag
            [cdkDragStartDelay]="dragDelay"
            appLongPress
            [duration]="dragDelay"
            [ngClass]="{ dragged: draggingGroupId === item.id }"
            (cdkDragStarted)="dragStart(item.id)"
            (cdkDragReleased)="dragStart(null)"
            (longPress)="dragStart(item.id)"
            (longPressEnd)="dragStart(null)"
          >
            <mat-checkbox (click)="markDone(item)">{{ item.name }}</mat-checkbox>
            <span class="description mat-hint">{{ item.description }}</span>
            <button mat-icon-button class="mat-hint" [routerLink]="['/home/item', listId | async, item.id]">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-list-item>
        </ng-container>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</mat-list>

<div class="loading" *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>
