.item-edit-form__form {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
  max-width: 35rem;

  // Add margin to every form element
  & > * {
    margin-bottom: 0.5rem;
  }

  mat-checkbox {
    margin-bottom: 1rem;
  }
}

.item-edit-form__category-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  mat-form-field {
    flex: 1;
  }
}

.item-edit__controls {
  flex: 1;
  flex-direction: row;
  .mat-raised-button:not(:last-child) {
    margin-right: 1rem;
  }
}
