<form class="item-edit-form__form" [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Nimi" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Lisainfo</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-checkbox formControlName="active">Nimekirjas</mat-checkbox>
  <div class="item-edit-form__group-container">
    <mat-form-field>
      <mat-select placeholder="Kategooria" formControlName="groupId">
        <mat-option *ngFor="let group of groups" [value]="group.id">
          {{ group.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button color="primary" mat-icon-button (click)="groupAdd.emit()"><mat-icon>add</mat-icon></button>
  </div>
  <div class="item-edit__controls">
    <button mat-raised-button (click)="return.emit()">Tagasi</button>
    <button mat-raised-button color="primary" (click)="onUpdate()">Salvesta</button>
  </div>
</form>
