:host {
  display: flex;
  flex: 1;
  height: 100%;
}

.sidenav__menu {
  padding-top: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.version {
  align-self: right;
}



.info-container {
  margin-top: auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
