// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@use 'sass:map';
@use '~@angular/material' as mat;
@include mat.core();

@import './theme.scss';
// @import './app/shared/themes/app.theme';

html,
body {
  margin: 0;
  height: 100%;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

.space {
  flex: 1 1 auto;
}

button.app__fab {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@include mat.all-component-themes($theme);

.app-dark {
  @include mat.all-component-colors($dark-theme);

  a:not(.mat-tab-link):not(.mat-list-item):not(.mat-line):not(.mat-icon-button):not(.mat-menu-item) {
    color: #7c4dff;
    &:visited {
      color: #8e37bb;
    }
  }
}

body.app-dark {
  $config: mat.get-color-config($dark-theme);
  $foreground: map.get($config, 'foreground');
  $background: map.get($config, 'background');

  color: mat.get-color-from-palette($foreground, 'text');
  background-color: mat.get-color-from-palette($background, 'background');
}
