$gl-deeppurple: (
    50 : #efeaff,
    100 : #d8caff,
    200 : #bea6ff,
    300 : #a382ff,
    400 : #9068ff,
    500 : #7c4dff,
    600 : #7446ff,
    700 : #693dff,
    800 : #5f34ff,
    900 : #4c25ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dad3ff,
    A700 : #c4b9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gl-blue: (
    50 : #e1f5fe,
    100 : #b3e5fc,
    200 : #81d4fa,
    300 : #4fc3f7,
    400 : #29b6f6,
    500 : #03a9f4,
    600 : #03a2f3,
    700 : #0298f1,
    800 : #028fef,
    900 : #017eec,
    A100 : #ffffff,
    A200 : #e0efff,
    A400 : #add4ff,
    A700 : #93c7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$mp-cyan: (
    50 : #e3f3f5,
    100 : #b8e2e6,
    200 : #89ced5,
    300 : #5abac4,
    400 : #36acb8,
    500 : #139dab,
    600 : #1195a4,
    700 : #0e8b9a,
    800 : #0b8191,
    900 : #066f80,
    A100 : #aef2ff,
    A200 : #7beaff,
    A400 : #48e2ff,
    A700 : #2fdeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

