@import './theme.scss';

html,
body {
  margin: 0;
  height: 100%;
}

.space {
  flex: 1 1 auto;
}

button.app__fab {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}

@include angular-material-theme($theme);
