<mat-toolbar color="primary">
  <button mat-icon-button (click)="nav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="home__heading">Groceries List</h1>
  <span class="spacer"></span>
  <gl-user-avatar [user]="user | async"></gl-user-avatar>
</mat-toolbar>

<mat-sidenav-container class="home__sidenav-container">
  <mat-sidenav #nav class="home__sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'"
    opened="{{opened}}" role="navigation">
    <gl-sidenav-menu [nav]="nav"></gl-sidenav-menu>
  </mat-sidenav>
  <mat-sidenav-content class="home__sidenav-content" role="main">
    <router-outlet></router-outlet>
    <div *ngIf="(loading.isLoading | async)" class="home__sidenav-content__spinner">
      <mat-spinner></mat-spinner>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
