:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.home__sidenav-container {
  display: flex;
  flex: 1;
}

.home__sidenav-content {
  display: flex;
  flex: 1;
}

.home__sidenav {
  display: flex;
  flex: 1;
  width: 220px;
}
